In [1]:
import psycopg2

In [14]:
conn = psycopg2.connect("dbname=covid19 user=jmc678 password=")

In [9]:
sql_query = """
select distinct province_state from time_series_covid19_confirmed;
"""
cur = conn.cursor()
cur.execute(sql_query)
rows = cur.fetchall()

In [13]:
conn.close()

In [10]:
rows

[('Alabama',),
 ('Indiana',),
 ('Minnesota',),
 ('Louisiana',),
 ('South Carolina',),
 ('California',),
 ('New Mexico',),
 ('New Hampshire',),
 ('American Samoa',),
 ('Connecticut',),
 ('Alaska',),
 ('Nevada',),
 ('Oklahoma',),
 ('Idaho',),
 ('Maryland',),
 ('Ohio',),
 ('Delaware',),
 ('Florida',),
 ('Maine',),
 ('Illinois',),
 ('Montana',),
 ('Oregon',),
 ('Rhode Island',),
 ('Texas',),
 ('Mississippi',),
 ('Kansas',),
 ('New Jersey',),
 ('Puerto Rico',),
 ('Wisconsin',),
 ('Pennsylvania',),
 ('Tennessee',),
 ('New York',),
 ('Georgia',),
 ('Diamond Princess',),
 ('Vermont',),
 ('Virgin Islands',),
 ('Colorado',),
 ('Arkansas',),
 ('Hawaii',),
 ('North Dakota',),
 ('Washington',),
 ('Grand Princess',),
 ('Virginia',),
 ('Wyoming',),
 ('West Virginia',),
 ('Missouri',),
 ('Guam',),
 ('Iowa',),
 ('Northern Mariana Islands',),
 ('District of Columbia',),
 ('South Dakota',),
 ('Arizona',),
 ('Utah',),
 ('Kentucky',),
 ('Nebraska',),
 ('North Carolina',),
 ('Massachusetts',),
 ('Michigan',)]

In [15]:
sql_query = """
select *
    from county_data c
        inner join (
            select UID - 84000000 as fips,
                    date,
                    admin2 as county_name,
                    combined_key as long_county_name,
                    province_state,
                    count as death_count,
                    population
            from time_series_covid19_deaths
        ) t
    on c.fips = t.fips;
"""
cur = conn.cursor()
cur.execute(sql_query)
rows = cur.fetchall()

In [3]:
sql_query = """
select date,
        county_name,
        long_county_name,
        province_state as state,
        POP060210 as pop_density,
        population,
        death_count
    from county_data c
        inner join (
            select UID - 84000000 as fips,
                    date,
                    admin2 as county_name,
                    combined_key as long_county_name,
                    province_state,
                    count as death_count,
                    population
            from time_series_covid19_deaths
        ) t
    on c.fips = t.fips;
"""
cur = conn.cursor()
cur.execute(sql_query)
rows = cur.fetchall()

In [16]:
import pandas as pd
df = pd.read_sql_query(sql_query, con=conn)

In [17]:
df.head()

,fips,pst045212,pst040210,pst120212,pop010210,age135212,age295212,age775212,sex255212,rhi125212,...,bps030212,lnd110210,pop060210,fips,date,county_name,long_county_name,province_state,death_count,population
0,1001,55514.0,54571.0,1.7,54571.0,6.5,26.0,13.0,51.3,78.5,...,385.0,594.44,91.8,1001,1/22/20,Autauga,"Autauga, Alabama, US",Alabama,0,55869
1,1003,190790.0,182265.0,4.7,182265.0,5.9,22.6,17.7,51.2,87.3,...,1184.0,1589.78,114.6,1003,1/22/20,Baldwin,"Baldwin, Alabama, US",Alabama,0,223234
2,1005,27201.0,27457.0,-0.9,27457.0,5.6,21.2,15.2,46.3,50.5,...,2.0,884.88,31.0,1005,1/22/20,Barbour,"Barbour, Alabama, US",Alabama,0,24686
3,1007,22597.0,22919.0,-1.4,22915.0,5.4,21.6,13.9,46.0,76.2,...,16.0,622.58,36.8,1007,1/22/20,Bibb,"Bibb, Alabama, US",Alabama,0,22394
4,1009,57826.0,57322.0,0.9,57322.0,6.2,24.0,15.9,50.5,96.2,...,6.0,644.78,88.9,1009,1/22/20,Blount,"Blount, Alabama, US",Alabama,0,57826

In [18]:
df.to_csv('/nfs01/covid_county_census_data.csv')

In [5]:
df.to_csv('/nfs01/covid_county_data.csv')

In [11]:
sql_query = """
select date, count
from time_series_covid19_deaths
where combined_key like 'Baldwin, Alabama, US';
"""
df_data_check = pd.read_sql_query(sql_query, con=conn)

In [12]:
df_data_check

       date  count
0   1/22/20      0
1   1/23/20      0
2   1/24/20      0
3   1/25/20      0
4   1/26/20      0
5   1/27/20      0
6   1/28/20      0
7   1/29/20      0
8   1/30/20      0
9   1/31/20      0
10   2/1/20      0
11   2/2/20      0
12   2/3/20      0
13   2/4/20      0
14   2/5/20      0
15   2/6/20      0
16   2/7/20      0
17   2/8/20      0
18   2/9/20      0
19  2/10/20      0
20  2/11/20      0
21  2/12/20      0
22  2/13/20      0
23  2/14/20      0
24  2/15/20      0
25  2/16/20      0
26  2/17/20      0
27  2/18/20      0
28  2/19/20      0
29  2/20/20      0
..      ...    ...
52  3/15/20      0
53  3/16/20      0
54  3/17/20      0
55  3/18/20      0
56  3/19/20      0
57  3/20/20      0
58  3/21/20      0
59  3/22/20      0
60  3/23/20      0
61  3/24/20      0
62  3/25/20      0
63  3/26/20      0
64  3/27/20      0
65  3/28/20      0
66  3/29/20      1
67  3/30/20      1
68  3/31/20      1
69   4/1/20      1
70   4/2/20      1
71   4/3/20      1
72   4/4/20      1
73   4/5/20      1
74   4/6/20      1
75   4/7/20      1
76   4/8/20      1
77   4/9/20      1
78  4/10/20      1
79  4/11/20      1
80  4/12/20      1
81  4/13/20      1

[82 rows x 2 columns]

In [10]:
max(df['pop_density'])

69467.5

In [6]:
df[df['county_name'] == 'New York']

,date,county_name,long_county_name,state,pop_density,population,death_count
1857,1/22/20,New York,"New York City, New York, US",New York,69467.5,5803210,0
4997,1/23/20,New York,"New York City, New York, US",New York,69467.5,5803210,0
8137,1/24/20,New York,"New York City, New York, US",New York,69467.5,5803210,0
11277,1/25/20,New York,"New York City, New York, US",New York,69467.5,5803210,0
14417,1/26/20,New York,"New York City, New York, US",New York,69467.5,5803210,0
17557,1/27/20,New York,"New York City, New York, US",New York,69467.5,5803210,0
20697,1/28/20,New York,"New York City, New York, US",New York,69467.5,5803210,0
23837,1/29/20,New York,"New York City, New York, US",New York,69467.5,5803210,0
26977,1/30/20,New York,"New York City, New York, US",New York,69467.5,5803210,0
30117,1/31/20,New York,"New York City, New York, US",New York,69467.5,5803210,0
33257,2/1/20,New York,"New York City, New York, US",New York,69467.5,5803210,0
36397,2/2/20,New York,"New York City, New York, US",New York,69467.5,5803210,0
39537,2/3/20,New York,"New York City, New York, US",New York,69467.5,5803210,0
42677,2/4/20,New York,"New York City, New York, US",New York,69467.5,5803210,0
45817,2/5/20,New York,"New York City, New York, US",New York,69467.5,5803210,0
48957,2/6/20,New York,"New York City, New York, US",New York,69467.5,5803210,0
52097,2/7/20,New York,"New York City, New York, US",New York,69467.5,5803210,0
55237,2/8/20,New York,"New York City, New York, US",New York,69467.5,5803210,0
58377,2/9/20,New York,"New York City, New York, US",New York,69467.5,5803210,0
61517,2/10/20,New York,"New York City, New York, US",New York,69467.5,5803210,0
64657,2/11/20,New York,"New York City, New York, US",New York,69467.5,5803210,0
67797,2/12/20,New York,"New York City, New York, US",New York,69467.5,5803210,0
70937,2/13/20,New York,"New York City, New York, US",New York,69467.5,5803210,0
74077,2/14/20,New York,"New York City, New York, US",New York,69467.5,5803210,0
77217,2/15/20,New York,"New York City, New York, US",New York,69467.5,5803210,0
80357,2/16/20,New York,"New York City, New York, US",New York,69467.5,5803210,0
83497,2/17/20,New York,"New York City, New York, US",New York,69467.5,5803210,0
86637,2/18/20,New York,"New York City, New York, US",New York,69467.5,5803210,0
89777,2/19/20,New York,"New York City, New York, US",New York,69467.5,5803210,0
92917,2/20/20,New York,"New York City, New York, US",New York,69467.5,5803210,0
...,...,...,...,...,...,...,...
165137,3/15/20,New York,"New York City, New York, US",New York,69467.5,5803210,1
168277,3/16/20,New York,"New York City, New York, US",New York,69467.5,5803210,7
171417,3/17/20,New York,"New York City, New York, US",New York,69467.5,5803210,7
174557,3/18/20,New York,"New York City, New York, US",New York,69467.5,5803210,11
177697,3/19/20,New York,"New York City, New York, US",New York,69467.5,5803210,26
180837,3/20/20,New York,"New York City, New York, US",New York,69467.5,5803210,29
183977,3/21/20,New York,"New York City, New York, US",New York,69467.5,5803210,45
187117,3/22/20,New York,"New York City, New York, US",New York,69467.5,5803210,63
190257,3/23/20,New York,"New York City, New York, US",New York,69467.5,5803210,99
193397,3/24/20,New York,"New York City, New York, US",New York,69467.5,5803210,131
196537,3/25/20,New York,"New York City, New York, US",New York,69467.5,5803210,199
199677,3/26/20,New York,"New York City, New York, US",New York,69467.5,5803210,281
202817,3/27/20,New York,"New York City, New York, US",New York,69467.5,5803210,366
205957,3/28/20,New York,"New York City, New York, US",New York,69467.5,5803210,672
209097,3/29/20,New York,"New York City, New York, US",New York,69467.5,5803210,776
212237,3/30/20,New York,"New York City, New York, US",New York,69467.5,5803210,914
215377,3/31/20,New York,"New York City, New York, US",New York,69467.5,5803210,1096
218517,4/1/20,New York,"New York City, New York, US",New York,69467.5,5803210,1374
221657,4/2/20,New York,"New York City, New York, US",New York,69467.5,5803210,1762
224797,4/3/20,New York,"New York City, New York, US",New York,69467.5,5803210,2243
227937,4/4/20,New York,"New York City, New York, US",New York,69467.5,5803210,2630
231077,4/5/20,New York,"New York City, New York, US",New York,69467.5,5803210,3048
234217,4/6/20,New York,"New York City, New York, US",New York,69467.5,5803210,3485
237357,4/7/20,New York,"New York City, New York, US",New York,69467.5,5803210,4009
240497,4/8/20,New York,"New York City, New York, US",New York,69467.5,5803210,4571
243637,4/9/20,New York,"New York City, New York, US",New York,69467.5,5803210,5150
246777,4/10/20,New York,"New York City, New York, US",New York,69467.5,5803210,5820
249917,4/11/20,New York,"New York City, New York, US",New York,69467.5,5803210,6367
253057,4/12/20,New York,"New York City, New York, US",New York,69467.5,5803210,6898
256197,4/13/20,New York,"New York City, New York, US",New York,69467.5,5803210,7349

In [9]:
df.head()

,date,county_name,long_county_name,state,pop_density,population,death_count
0,3/31/20,Autauga,"Autauga, Alabama, US",Alabama,91.8,55869,0
1,3/31/20,Baldwin,"Baldwin, Alabama, US",Alabama,114.6,223234,1
2,3/31/20,Barbour,"Barbour, Alabama, US",Alabama,31.0,24686,0
3,3/31/20,Bibb,"Bibb, Alabama, US",Alabama,36.8,22394,0
4,3/31/20,Blount,"Blount, Alabama, US",Alabama,88.9,57826,0

In [20]:
rows

[('Montgomery',),
 ('Wayne',),
 ('Albany',),
 ('Erie',),
 ('Orleans',),
 ('Orange',),
 ('Onondaga',),
 ('Chautauqua',),
 ('St. Lawrence',),
 ('Genesee',),
 ('Oneida',),
 ('Unassigned',),
 ('Nassau',),
 ('Otsego',),
 ('Warren',),
 ('Columbia',),
 ('Richmond',),
 ('Suffolk',),
 ('Chenango',),
 ('Franklin',),
 ('Kings',),
 ('Cayuga',),
 ('Delaware',),
 ('Ontario',),
 ('Oswego',),
 ('Dutchess',),
 ('Herkimer',),
 ('Saratoga',),
 ('Yates',),
 ('Madison',),
 ('Niagara',),
 ('Schenectady',),
 ('Lewis',),
 ('Fulton',),
 ('Jefferson',),
 ('New York',),
 ('Greene',),
 ('Queens',),
 ('Ulster',),
 ('Washington',),
 ('Cattaraugus',),
 ('Allegany',),
 ('Schoharie',),
 ('Monroe',),
 ('Wyoming',),
 ('Westchester',),
 ('Clinton',),
 ('Steuben',),
 ('Rockland',),
 ('Sullivan',),
 ('Bronx',),
 ('Broome',),
 ('Chemung',),
 ('Hamilton',),
 ('Livingston',),
 ('Putnam',),
 ('Seneca',),
 ('Out of NY',),
 ('Tioga',),
 ('Tompkins',),
 ('Rensselaer',),
 ('Schuyler',),
 ('Cortland',),
 ('Essex',)]

In [14]:
cur.rollback()

AttributeError: 'psycopg2.extensions.cursor' object has no attribute 'rollback'